.item {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 20px;
    
    background-color: rgb(174, 222, 245);
    margin-bottom: 15px;
    border-radius: 13px;
}

.item:last-child {
    margin-bottom: 0;
}

.name {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 30px;
}

.friendList {
    margin: 30px auto;
    padding: 32px 16px;
    
    
    max-width: 480px;
}

.status {
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 30px;
}

.true {
    background-color: green;
}

.false {
    background-color: red;
}

